<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="roal" providerName="System.Data.SqlClient" connectionString="user id=demo;password=demo;Data Source=neccgportalqa;Database=ROAL"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="api_url" value="http://nexuservicesqa.neweracap.com/"/>-->
    <add key="api_url" value="https://nexuservice.neweracap.com/"/>
    <!--<add key="api_url" value="http://localhost:50596/"/>-->
    <add key="default_ProductGroupId" value="01" />
    <add key="default_DesignTeamId" value="1" />
    <add key="default_ColorOptionId" value="1" />
    <add key="default_UserId" value="598" />
    <add key="default_UserName" value="nebyu" />
    <add key="default_MonoThread" value="000000000090022493"/>
    <add key="forceMono" value="7"/> <!-- can comma spearate -->
    
    <add key="api_client_id" value="nexu_bridge" />
    <add key="api_client_secret" value="nec_nexu_bridge!" />
    
    <add key="imagerenders" value="\\neccgportalqa\sites\ROALSERVICE\Roal20Service\TicketImages"/>
    <add key="roalconnection" value="Data Source=neccgportalqa;Initial Catalog=ROAL;User ID=demo;Password=demo;"/>
    <add key="illustrationLocation" value="\\neccgportalqa\sites\roal\"/>
    <add key="ticketimageLocation" value="\\neccgportalqa\sites\roalservice\roal20service\TicketImages\"/>
    <add key="tempimageLocation" value="\\neccgportalqa\sites\roalservice\roal20service\TicketImages\temp\"/>
    <add key="default_template_id" value="4"/>
    <add key="clear_temp_folder" value="false"/>
    <add key="useAltsoft" value="false"/>
    <add key="dupeCheck" value="false"/>
    <add key="inkscape" value="C:\inkscape\InkscapePortable.exe"/>
    <add key="pngEngine" value="INKSCAPE" /><!-- ALTSOFT / JAVA / INKSCAPE -->
    <add key="batikLocation" value ="C:\New Era\ROAL RENDER\batik-rasterizer.jar"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basic" closeTimeout="00:10:00" openTimeout="00:10:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ws" closeTimeout="00:10:00" openTimeout="00:10:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
            transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                establishSecurityContext="true" />
          </security>
        </binding>
        <binding name="wsSecure" closeTimeout="00:10:00" openTimeout="00:10:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
            transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>


    </bindings>

    <client>
          <endpoint address="http://roalserviceqa.neweracap.com/Roal20Service/RoalService.svc" binding="wsHttpBinding" bindingConfiguration="ws" contract="IRoalService" name="ws">
              <identity>
                  <dns value="localhost"/>
              </identity>
          </endpoint>
          <endpoint address="http://roalserviceqa.neweracap.com/Roal20Service/RoalService.svc/wsSecure" binding="wsHttpBinding" bindingConfiguration="wsSecure" contract="IRoalService" name="wsSecure">
              <identity>
                  <dns value="localhost"/>
              </identity>
          </endpoint>
          <endpoint address="http://roalserviceqa.neweracap.com/Roal20Service/RoalService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basic" contract="IRoalService" name="basic"/>
      </client>
    <!--<client>
      <endpoint address="http://localhost:50030/Roal20Service/RoalService.svc" binding="wsHttpBinding" bindingConfiguration="ws" contract="IRoalService" name="ws">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50030/Roal20Service/RoalService.svc/wsSecure" binding="wsHttpBinding" bindingConfiguration="wsSecure" contract="IRoalService" name="wsSecure">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50030/Roal20Service/RoalService.svc/basic" binding="basicHttpBinding" bindingConfiguration="basic" contract="IRoalService" name="basic"/>
    </client>-->

  </system.serviceModel>
</configuration>