<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="roal" providerName="System.Data.SqlClient" connectionString="user id=demo;password=demo;Data Source=neccgportalqa;Database=ROAL" />
  </connectionStrings>
  <appSettings>
    <add key="api_url" value="http://nexuservice.neweracap.com/" />
    <add key="api_client_id" value="nexu_bridge" />
    <add key="api_client_secret" value="nec_nexu_bridge!" />
    
    <add key="default_ProductGroupId" value="01" />
    <add key="default_DesignTeamId" value="1" />
    <add key="default_ColorOptionId" value="1" />
    <add key="default_UserId" value="598" />
    <add key="default_UserName" value="nebyu" />
    <add key="default_MonoThread" value="000000000090022493" />
    <add key="forceMono" value="7" /><!-- can comma spearate -->
    
    
    <add key="imagerenders" value="\\neccgportalqa\sites\ROALSERVICEQA\Roal20Service\TicketImages" />
    <add key="roalconnection" value="Data Source=neccgportalqa;Initial Catalog=ROAL;User ID=demo;Password=demo;" />
    <add key="illustrationLocation" value="\\neccgportalqa\sites\roalqa\" />
    <add key="ticketimageLocation" value="\\neccgportalqa\sites\roalserviceqa\roal20service\TicketImages\" />
    <add key="tempimageLocation" value="\\neccgportalqa\sites\roalserviceqa\roal20service\TicketImages\temp\" />
    <add key="default_template_id" value="4" />
    <add key="clear_temp_folder" value="false" />
    <add key="useAltsoft" value="false" />
    <add key="dupeCheck" value="false" />
    <add key="inkscape" value="C:\inkscapeportable\InkscapePortable.exe" />
    <add key="useAltsoft" value="false" />
    <add key="useInkscape" value="false" />
    <add key="useJava" value="false" />
    <add key="useHTml" value="true" />
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
