@model List<nec.nexu.site.admin.Models.RoalMapViewModel<nec.nexu.Models.roal.DesignToRoal>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="kendoGrid" data-role="grid" data-sortable="true" data-filterable="true" data-pageable="true">
    <tr>
        <th>
            Tape Number
        </th>
        <th>Options</th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NexuDisplayName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { item.Map.Id }) |
            @Html.ActionLink("Delete", "Delete", new { item.Map.Id })
        </td>
    </tr>
}
</table>

@section scripts{
    <script type="text/javascript">
        $('#kendoGrid').kendoGrid({
            dataSource: {
                schema: {
                    total: function (d) {
                        return (d) ? d.length : 0;
                    }
                },
                pageSize:25
            },
            sortable: true,
            filterable: true,
            pageable:true
        });

        //kendo.init('body');</script>
}