
<div class="row">

<div><img src='http://localhost:50595/api/testproduct/?code=ARICAR&templateid=2' name='ARICAR'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=ATLFAL&templateid=2' name='ATLFAL'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=BALRAV&templateid=2' name='BALRAV'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=BUFBIL&templateid=2' name='BUFBIL'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=CARPAN&templateid=2' name='CARPAN'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=CHIBEA&templateid=2' name='CHIBEA'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=CINBEN&templateid=2' name='CINBEN'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=CLEBRO&templateid=2' name='CLEBRO'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=DALCOW&templateid=2' name='DALCOW'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=DENBRO&templateid=2' name='DENBRO'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=DETLIO&templateid=2' name='DETLIO'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=GREPAC&templateid=2' name='GREPAC'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=HOUTEX&templateid=2' name='HOUTEX'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=INDCOL&templateid=2' name='INDCOL'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=JACJAG&templateid=2' name='JACJAG'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=KANCHI&templateid=2' name='KANCHI'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=MIADOL&templateid=2' name='MIADOL'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=MINVIK&templateid=2' name='MINVIK'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=NEEPAT&templateid=2' name='NEEPAT'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=NEOSAI&templateid=2' name='NEOSAI'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=NEYGIA&templateid=2' name='NEYGIA'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=NEYJET&templateid=2' name='NEYJET'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=OAKRAI&templateid=2' name='OAKRAI'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=PHIEAG&templateid=2' name='PHIEAG'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=PITSTE&templateid=2' name='PITSTE'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=SADCHA&templateid=2' name='SADCHA'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=SAF49E&templateid=2' name='SAF49E'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=SEASEA&templateid=2' name='SEASEA'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=STLRAM&templateid=2' name='STLRAM'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=TAMBUC&templateid=2' name='TAMBUC'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=TENTIT&templateid=2' name='TENTIT'  /></div>
<div><img src='http://localhost:50595/api/testproduct/?code=WASRED&templateid=2' name='WASRED'  /></div>


</div>
