#MyAccount .leftCol {
    padding-right: 20px;
}

.bp-mobile #MyAccount .leftCol {
    padding: 0 10px;
}

#MyAccount .name {
}

#MyAccount .edit {
    margin-left: 0.5em;
    color: #000;
}

#MyAccount .contact-info {
    padding-top: 3em;
}

#profile {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}

@media all and (max-width: 500px) {
    #profile {
        display: block;
        width: 100%;
    }

    #MyAccount .name {
        display: block;
        width: 100%;
        float: none;
    }
}

#profile img {
    max-width: 200px;
}

#MyAccount .contact-info .checkbox {
    margin-top: 0;
}

#MyAccount .contact-info .checkbox label input {
    cursor: pointer;
}

#MyAccount .promo {
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background-color: #FFF200;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

#MyAccount .connect {
    margin-right: 20px;
    width: 180px;
    margin-bottom: 20px;
}

#MyAccount .form-group {
    overflow: hidden;
    margin-bottom: 10px;
}

#accountCarousel .slide {
    background-image: url(/assets/img/nexu/background.png);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#accountCarousel .img-responsive {
    width: 80%;
    margin: 10px auto;
    position: relative;
}

#accountCarousel .detail {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#accountCarousel .slide:hover a,
#accountCarousel .slide:focus a,
#accountCarousel .slide a:hover,
#accountCarousel .slide a:focus {
    text-decoration: none;
}

#accountCarousel {
    padding-left: 57px;
}

#accountCarousel.fewer {
    padding-left: 0;
}

#accountCarousel .owl-controls.hide {
    display: none;
}

@media all and (max-width: 860px) {
    #accountCarousel.fewer {
        padding-left: 57px;
    }
}

#accountCarousel .owl-controls {
    top: 50%;
    margin-top: -50px;
    left: 0;
    position: absolute;
}

#accountCarousel .slide-nav {
    background-color: #FFF200;
    color: #333;
    padding: 1em;
    margin-bottom: 5px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-dialog {
    width: 20em;
    left: 50%;
    margin-left: -10em;
    top: 50%;
    margin-top: -5em;
    background-color: #fff;
    padding: 2em;
    padding-top: 3em;
    position: absolute;
}

.modal .close {
    font-size: 2em;
    float: right;
    position: absolute;
    top: 0.4em;
    right: 1em;
    font-weight: bold;
}

.modal-footer .btn-primary {
    background-color: #000;
    background-image: none;
    color: #fff;
    padding: 0.5em 1em;
    font-weight: bold;
    float: right;
    width: 100%;
    text-transform: uppercase;
}

.modal-footer .btn-primary:hover {
    background-color: #000;
    background-image: none;
}

.modal .control-label {
    padding-top: 0;
    padding-bottom: 8px;
    font-size: 1.5em;
}